

<ul class="nav nav-tabs">
  <li  class="active" id="detail"><a data-toggle="tab" href="#home" routerLink="/employeedetails">Employees List</a></li>
  <li id="insert"><a data-toggle="tab" href="#menu1" routerLink="/insertdetails">Add Employee</a></li>
  <li id="update"><a data-toggle="tab" href="#menu2" routerLink="/updatedetails">Update Employee</a></li>
  <li id="delete"><a data-toggle="tab" href="#delete_details" routerLink="/deletedetails">Delete Employee</a></li>
</ul>

<main class="tab-content"> <router-outlet></router-outlet> </main>
