<!-- <table id="table" datatable class="table row-border hover table-striped table-bordered"  >
	<thead>
		<tr>
			<th>Employee id</th>
			<th>Employee name</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let employee of obsEmployees | async">
			<td>{{employee.id}} </td>
			<td>{{employee.name}} </td>
		</tr>
	</tbody>
</table> -->
<table id="employeeTable" class="row-border hover table table-striped table-bordered">
<thead>
		<tr>
			<th>Employee id</th>
			<th>Employee name</th>
		
		</tr>
	</thead>
</table>